In [32]:
num=9
i=1
while i < num:
    i=i+1
    if i==5:
        break
    print (i)
else:
    print("this is excutesd by while loop")

2
3
4

In [7]:
n=0
i=9
while i>n:
    print(i)
    i-=1
    if i==2:
        break
else:
    print("while loop is excuted")

9
8
7
6
5
4
3

In [17]:
n=10
i=0
while i<n:
    i=i+1
    if i==7:
        continue
    print (i)
else:
    print("excuted by while loop")

1
2
3
4
5
6
8
9
10
excuted by while loop

In [18]:
a="mohdanas"
for i in a:
    print(i)

m
o
h
d
a
n
a
s

In [19]:
a=(1,2,5,4,8,9,6,3,7,4,8,5,)
for i in a:
    print (i)

1
2
5
4
8
9
6
3
7
4
8
5

In [20]:
a=(1,5,85,65,36,"khan","sahil")
for i in a:
    print (i)

1
5
85
65
36
khan
sahil

In [31]:
for i in a:
    if i=="khan":
        continue
    print(i)
else:
    print("excuted by for loop")

1
5
85
65
36
sahil
excuted by for loop

In [34]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [38]:
tuple(range(0,10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
list(range(0,10,2))

In [7]:
row =1
while row <=4:
    col=1
    while col <=row:
        print("*",end =" ")
        col=col+1
    print()
    row=row+1

*
* *
* * *
* * * *

In [ ]:
course=["data science", "ML", "stats"]
index=0
while index <len(course):
    print(course [index])
    index=index+1

In [ ]:
for i in range(4):
    for j in range (j+1):
        print("*",end="")
    print()

In [ ]:
number=[1,2,3,4,5,6,7,8,9]
while number in number:
    if (number ==3) or (number ==7):
        continue 
        print(number)

In [ ]:
# same as it is in break function